.about {
  padding: 10rem 0;
  .container {
    display: flex;
    flex-direction: row-reverse;
  }
  &-content {
    width: 526px;
    &-title {
      font-size: $title-fz;
      margin-bottom: 2.25rem;
      margin-top: -2.25rem;
    }
    &-text {
      font-size: $subtitle-fz;
    }
  }
  &-cards {
    width: 636px;
    margin-right: auto;
  }
  &-list {
    display: flex;
    gap: $gutter;
    flex-wrap: wrap;
    &-card {
      width: 306px;
      padding: 1rem;
      border: 1px solid #e3e3e3;
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
      h3 {
        font-size: 1.25rem;
      }
    }
  }
}
