.project {
  padding: 10rem 0;
  &-title {
    width: 746px;
    font-size: $title-fz;
    margin-left: auto;
  }
  &-content {
    display: flex;
    img {
      &:not(:last-child) {
        margin-right: $gutter;
      }
    }
    &-caption {
      display: flex;
      flex-wrap: wrap;
      > img {
        &:first-child {
          margin-bottom: 1.75rem;
        }
      }
      &-text {
        width: 636px;
        margin-bottom: 1.75rem;
        &-more {
          a {
            transition: all 0.5s;
            &:hover {
              padding-left: 5rem;
              padding-right: 5rem;
              opacity: 0.5;
            }
          }
        }
        p {
          margin-bottom: 76px;
        }
      }
    }
  }
}
